@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cormorant', serif;
  scroll-behavior: smooth;
}

/* overlay effect */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}


/* CSS Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to an element */
.fade-up {
  animation: fadeUp 0.7s ease-out;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    opacity: 0.75;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    opacity: 0.75;
  }
}

.fade-down {
  animation: fadeDown 0.5s ease;
}
